/*import 'primeicons/primeicons.css'*/

@tailwind base;
@tailwind components;
@tailwind utilities;


a.p-button {
    background-color: rgb(16 185 129);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: none;
    display: inline-block;
    width: fit-content;
}
